body {
	margin: 0;
}

.sysLabel {
	background: url("../img/is_label.png") 0 0 no-repeat;
    width: 300px;
    height: 47px;
    position: absolute;
    top: 60px;
    left: 60px;
    margin: 0;
}

.siteErrorImage {
	width: 410px; 
	margin-left: 125px; 
	z-index: -1; 
	position: absolute; 
	margin-top: 85px;
}

.sysImage {
	background: url(../img/nuts.png) no-repeat;
	height: 144px;
	left: 134px;
	margin: 0;
	position: absolute;
	top: 110px;
	width: 372px;
}

.sysMessage {
	color: #666;
	line-height: 14px;
	left: 150px;
	margin: 0;
	position: absolute;
	top: 260px;
	padding-right: 20px;
	font-family: Verdana;
	font-size: 12px;
}

.sysMessage p {
	margin: 4px 0 0 0;
}

.sysMessage span {
	background: #EDEDED;
}

.sysMessage a {
	color: #666;
}

.sysMessage table {
	margin-bottom: 20px;
}

.sysMessage table td {
	font-size: 11px;
}

input.button {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(182,199,211,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(182,199,211,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(182,199,211,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(182,199,211,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(182,199,211,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b6c7d3',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(182,199,211,1) 100%); /* W3C */
	border: 1px solid #87a0b0;
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: normal;
	/*margin: 5px 5px 5px 0;*/
	padding: 5px 12px;
	text-shadow: 0 1px 0 #FFFFFF;
}

div.btError {
	margin-top: 34px;
}

/* design component errorPage */

.ish-errorPage {
	background: none repeat scroll 0 0 transparent;
	font: 12px Verdana,Arial,Helvetica,sans-serif;
	min-width: 640px;
}

.ish-errorPage .ish-errorPage-content {
	background-image: url("../img/img_general_error.jpg");
	background-repeat: no-repeat;
	color: #666666;
	height: 640px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 42px;
	padding-left: 18px;
	padding-top: 183px;
	width: 640px;
}

.ish-errorPage-content-errorMessage {
	width: 285px;
} 

.ish-errorPage-content-errorMessage h1 {
	margin-left: 50px;
	font-size: 18px;
	font-weight: bold;
}