<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/common-webapp/src/main/java/com/intershop/common/webapp/capi/server/ApplicationServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.intershop.common.webapp.capi.server.ApplicationServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="${name}"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dservices=${serviceName}&#13;&#10;-Deureka.serviceUrl.default=${eureka}&#13;&#10;-Deureka.name=${serviceName}&#13;&#10;-Dport=${port}"/>
</launchConfiguration>
