.clear { 
	clear: both;
  	*zoom: 1;
}
.clear:before,
.clear:after {
  display: table;
  content: "";
  line-height: 0;
}
.clear:after {
  clear: both;
}

div.dashboard-tile-box { 	
	text-align: center;
}

div.dashboard-tile-box-line { 
	display: inline-block;	
}

.dashboard-tile-group {
	float: left;
	width: 50%;	
	min-width: 230px;
}

div.dashboard-tile {
	box-sizing: border-box;
	float: left;
	background: #FFF;	
	padding: 3px 8px 13px;
	min-width: 230px;
	width: 50%;	
}

div.dashboard-tile-inner {
	box-sizing: border-box;
	border-radius: 6px;
	background: #FFF;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2); 
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	text-align: center;	
	padding: 15px 10px;
	width: 100%;
}

p.dashboard-tile-big {
	color: #FF8400;
	font-size: 250%;
	margin: -5px 10px;
}
p.dashboard-tile-money {
	color: #333333;
	font-size: 1.5em;
	margin: 0px 5px;
	white-space: nowrap;
}
p.dashboard-tile-caption { margin: 0px; }
div.dashboard-tile-line {
	box-sizing: border-box;
	float: left;
	min-width: 240px;
	width: 50%;
	padding: 11px 8px 0;	
	text-align: left;
}

div.dashboard-tile-line-inner {
	box-sizing: border-box;
	background: url("../../images/overview_line.gif") repeat-x bottom;	
	overflow: hidden;
	display: table;
	width: 100%;
	padding-bottom: 12px;
}

div.dashboard-table-detail {
	display: table-cell;
}

div.dashboard-table-value {
	display: table-cell;
	padding-right: 5px;
	text-align: right;
}






