
.progress {
    position: relative;
    border: 1px solid #cccccc;
    width: 100%;
    line-height: 21px;
}

.progress > .text {
    position: relative;
    z-index: 10;
    display: block;
    text-align: center;
}

.progress > .bar {
    background-color: #d8eaea;
    position: absolute;
    top: 0px;
    left: 0px;
}