/* Styling for the back office quick navigation */
#quickNavigation > .dialog-content-header {
	height: 35px;
	padding: 10px 15px;
	position: relative;
	z-index: 100000;
	background-color: #f5f5f5;
	border-top: 1px solid #CCCCCC;
}

#quickNavigation > .dialog-content {
	top: 56px;
}

#quickNavigation > .dialog-content {
	top: 56px;
}

#quickNavigation [name="quickNavigationField"] {
	width: 100%;
}

#quickNavigationResult {
	margin: -20px -15px 0;
}

#quickNavigationResult > .search_result_item {
	padding: 10px 10px 10px 15px;
	border-top: 1px solid #eee;
}

#quickNavigationResult .search_result_description {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	padding: 9px 6px 8px 0px;
}

#quickNavigationResult .search_result_link {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
}

#quickNavigationResult .search_result_icon {
	padding: 1px;
}

#quickNavigationResult .search_result_item:hover {
	background: #efefef;
}

#quickNavigationResult .selected {
	background: #f8f8f8;
	border-left: 4px solid #eee;
}

#quickNavigationResult > .search_result_item:focus {
	outline: 0;
	background: #f8f8f8;
}