<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0" metadata-complete="true"> 
    <display-name>Enfinity Suite</display-name>
    <description>Enfinity Suite</description>

    <!-- ==================================================================== -->
    <!-- ================= ServletContextListener definition ================ -->
    <!-- ==================================================================== -->
    <listener>
        <listener-class>com.intershop.beehive.core.internal.environment.ApplicationContextListener</listener-class>
    </listener>
    <!-- ==================================================================== -->
    <!-- ====================== Filter definitions ========================== -->
    <!-- ======== NOTE: Guice Filter MUST stay at the 1st position! ========= -->
    <!-- ==================================================================== -->
    <filter>
      <filter-name>guiceFilter</filter-name>
      <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>guiceFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- ==================================================================== -->
    <!-- ================== additional MIME Type Mappings =================== -->
    <!-- ==================================================================== -->
    <mime-mapping>
        <extension>chm</extension>
        <mime-type>application/mshelp</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>dll</extension>
        <mime-type>application/octet-stream</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ex_</extension>
        <mime-type>application/octet-stream</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>jhtml</extension>
        <mime-type>java-internal/java-html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>jsp</extension>
        <mime-type>java-internal/java-html/javascript</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>shtml</extension>
        <mime-type>java-internal/parsed-html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xml</extension>
        <mime-type>application/xml</mime-type>
    </mime-mapping>
    <!-- ==================================================================== -->
    <!-- ====================== error page definitions ====================== -->
    <!-- ==================================================================== -->
    <error-page>
        <error-code>400</error-code>
        <location>/ish/cartridges/core/common/errorPages/error400.jsp</location>
    </error-page>        
    <error-page>
        <error-code>403</error-code>
        <location>/ish/cartridges/core/common/errorPages/error403.jsp</location>
    </error-page>    
    <error-page>
        <error-code>404</error-code>
        <location>/ish/cartridges/core/common/errorPages/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/ish/cartridges/core/common/errorPages/error405.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ish/cartridges/core/common/errorPages/error500.jsp</location>
    </error-page>
</web-app>
