.promotionCodeSearchBoxesWrapper {
	border-spacing: 0px 10px;
}

.promotionCodeSearchBoxesWrapperMiddle {
	border-spacing: 5px 10px; 
}

.promotionCodeSearchBox {
	padding: 5px;
	background-color: #F4F4F4;
}

.promotionCodeSearchBox > table.label-value {
	border-spacing: 5px 1px;
}

.promotionCodeSearchBox > .warnsign {
	padding: 0px 0px 0px 5px;
}

.promotionCodeSearchHeaderValidState {
	margin-left:6px;
}

.headline-top {
    margin-bottom: 10px;
}