html {
    overflow: hidden;
}

body {
    background: #EFEFEF;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
}

input,select,th,td,textarea {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

select {
    padding: 1px;
}

label,input,select {
    display: inline-block;
}

input[type="radio"],input[type="checkbox"] {
    margin: 6px;
}

input[type="radio"].last,input[type="checkbox"].last {
    margin-bottom: 14px;
}
/* header */
#masthead {
    width: 100%;
    background-color: #2d353c;
}

#masthead-wrapper {
    width: 100%;
    height: 44px;
}

#app-toggle {
    position: relative;
    left: 10%;
}

#design-preview {
    float: left;
    margin: 9px 0 0 0 !important;
    padding: 0 !important;
    height: 35px;
    line-height: 35px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-indent: -9999px;
    color: #777777;
    background: url("../images/toggle_sprite_preview.png") #EDEDED no-repeat 0 -1px}

#design-preview:hover, #design-preview.active {
    background-image: url("../images/toggle_sprite_preview_hover.png");
}

#design-preview {
    width: 42px;
}

#globalMenu {
    float: right;
    list-style: none outside none;
    padding: 0;
    margin: 0 18px;
    height: 44px;
}

#globalMenu a:focus {
    outline: none;
}

#globalMenu > li {
    color: #999999;
    float: left;
    text-decoration: none;
    height: 44px;
}

#globalMenu li.nav-item {
    background-image: url("../images/sprite_quick_access_links.png");
    background-repeat: no-repeat;
    margin: 0 5px;
}

#globalMenu li.nav-item:hover {
    background-image: url("../images/sprite_quick_access_links_active.png");
    background-repeat: no-repeat;
}

#globalMenu > li:last-child {
    margin-right: 0;
}

#globalMenu > li > a {
    color: #999999;
    float: left;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 24px;
    height: 44px;
    line-height: 24px;
    text-indent: -9999px;
}

#globalMenu .help {
    background-position: -103px 0px;
}

#globalMenu .logout {
    background-position: -149px 0px;
}

/* site content */
#viewable-area {
    position: relative;
    width: 100%;
    float: left;
}

#viewable-area.nonBrowserDefined {
    overflow: auto;
    text-align: center;
}

#siteContentOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.0;
}

#waitingOverlay {
    display: none;
    position: fixed;
    top: 44px;
    left: 0;
    border: none;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #fff;
    color: #000;
    opacity: 0.8;
    text-align: center;
}

.waitingNote {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    margin: -100px 0 0 -150px;
    z-index: 15;
}

/*control section */
#sfe-control-panel {
    clear: both;
    height: 316px;
    position: relative;
    overflow: hidden;
}

#sfe-control-panel.sfe-prevent-text-selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#sfe-panel-edit .infobox_title {
    color: #3c3b3b;
    font-weight: bold;
    padding: 4px;
    text-shadow: 0 1px 0 #FFF;
}

#sfe-panel-edit .infobox_locale * {
    vertical-align: middle;
}

#sfe-panel-edit .infobox_locale td {
    padding: 4px;
}

.sfe-generic-wrapper {
    padding: 8px 10px;
}

.sfe-clear {
	clear: both;
}

.sfe-control-bar {
    background: #2D353C;
    overflow: hidden;
    position: relative;
    z-index: 2;
    height: 40px;
    width: 100%;
}

.sfe-control-bar-resizer {
    cursor: ns-resize;
    overflow: hidden; /* Creates a new block format context, which will make this tag fill the remaining width */
    height: 24px;
    margin: 0px 10px;
}

.sfe-button,
.sfe-tabs a  {
    color: #eee;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    padding: 3px 10px 4px;
}

.sfe-button:hover,
.sfe-tabs a:hover{
    color: #FFF;
	background-color:#575d63;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.sfe-button span {
    line-height: 16px;
}

.sfe-icon {
}

.sfe-left {
    float: left;
    margin-right: 5px;
    padding-right: 5px;
}

.sfe-right {
    float: right;
    margin-left: 4px;
    padding-left: 4px;
}

.sfe-links {
    float: right;
}

.sfe-tabs {
}

.sfe-tabs ul {
    list-style: none;
    position: relative;
	margin-left: -2px;
}

.sfe-tabs li {
    float: left;
}

.sfe-tabs a.sfe-active,.sfe-tabs a.sfe-active:hover {
    background: #EFEFEF;
	color: #333;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.sfe-input {
	border: 1px solid #CCC;
	border-radius: 2px;
	box-sizing: border-box;
	color: #333;
	font-size: 13px;
	height: 32px;
	line-height: 17px;
	margin: 0;
	padding: 0px 5px;
}

#sfe-control-locale {
    float: right;
}

#sfe-locale-select {
    margin-top: 2px;
    border: none;
}

#sfe-panel-tree,#sfe-panel-divider,#sfe-panel-edit {
    float: left;
    height: 100%;
}

#sfe-panel-tree {
    background: #FFF;
    width: 35%;
}

#sfe-container-tree {
    font-weight: bold;
    overflow: auto;
    padding-bottom: 3px;
    width: 100%;
}

#sfe-container-tree h1 {
    background: #EFEFEF;
    cursor: pointer;
    font-size: 13px;
    padding: 7px;
	font-weight: normal;
	color: #319F9E;
}

#sfe-container-tree h1:hover {
	text-decoration: underline;
}

#sfe-container-tree ul {
    display: block;
    list-style: none;
}

#sfe-container-tree ul ul {
    display: none;
    margin-right: 0;
    margin-left: 20px;
    clear: left;
}

#sfe-container-tree li {
    display: block;
}

#sfe-container-tree li[data-type~="Slot"] a {
}

#sfe-container-tree li span.sfe-content-icon {
	background: url("../images/ic_content_sprite.png") no-repeat;
	height: 16px;
	width: 16px;
	margin-right: 3px;
}

#sfe-container-tree li[data-type~="Slot"]>a span.sfe-content-icon {
	background-position: -8px -105px;
}

#sfe-container-tree li[data-type~="Placeholder"]>a span.sfe-content-icon {
	background-position: -8px -105px;
}

#sfe-container-tree li[data-type~="Include"]>a span.sfe-content-icon {
	background-position: -8px -176px;
}

#sfe-container-tree li[data-type="Product"]>a span.sfe-content-icon {
	background-position: -8px -153px;
}

#sfe-container-tree li[data-type="Catalog Category"]>a span.sfe-content-icon {
	background-position: -9px -9px;
}

#sfe-container-tree li[data-type="Component Template"]>a span.sfe-content-icon {
	background-position: -8px -81px;
}

#sfe-container-tree li[data-type="Component"]>a span.sfe-content-icon {
	background-position: -8px -33px;
}

#sfe-container-tree li[data-type="System Page"]>a span.sfe-content-icon,
#sfe-container-tree li[data-type="Page"]>a span.sfe-content-icon {
	background-position: -9px -202px;
}

#sfe-container-tree li[data-type="Page Template"]>a span.sfe-content-icon {
	background-position: -10px -55px;
}

#sfe-container-tree li[data-type="Page Variant"]>a span.sfe-content-icon {
	background-position: -9px -128px;
}

#sfe-container-tree li[data-type="Page Template"]>a span.sfe-content-displayName,
#sfe-container-tree li[data-type="Component Template"]>a span.sfe-content-displayName,
#sfe-container-tree li[data-type="Template Slot"]>a span.sfe-content-displayName,
#sfe-container-tree li[data-type="Template Placeholder"]>a span.sfe-content-displayName {
	background: #e3f1ff;
}

#sfe-container-tree li.fallback > a > span.sfe-content-displayName:after {
	content: ' [default]';
	color: #777777;
	font-weight: normal;
}

#sfe-container-tree li span {
    display: inline-block;
    vertical-align: middle;
    height: 11px;
    margin: 2px 5px 2px 2px;
    width: 13px;
}
#sfe-container-tree li span.sfe-content-displayName {
	width: auto;
	height: auto;
	padding: 1px 5px;
}
#sfe-container-tree li span.sfe-toggle-view {
	cursor: pointer;
	margin-top: 0;
}

#sfe-container-tree li span.drag-controller {
    background-image: url(../images/icon-tree-drag.png);
    background-position: 6px 2px;
    background-repeat: no-repeat;
    cursor: move;
    border: none;
    margin-top: 0;
}

#sfe-container-tree li a:hover span.drag-controller {
    background-image: url(../images/icon-tree-drag-active.png);
}

#sfe-container-tree li span.sfe-closed {
    background: url(../images/icon-tree-closed.png) no-repeat 2px -2px;
}

#sfe-container-tree li span.sfe-open {
    background: url(../images/icon-tree-open.png) no-repeat 1px -2px;
}

#sfe-container-tree .sfe-container-tree-level-link {
    font-weight: normal;
    display: inline-block;
    margin: 2px 0;
    text-decoration: none;
    white-space: nowrap;
    padding-right: 8px;
}

#sfe-container-tree .sfe-container-tree-level-link:hover {
    background-color: #D8EAEA;
	text-decoration: underline;
}

#sfe-container-tree li a.sfe-inspector-preview {
    background-color: #D8EAEA;
    border: 1px solid #1489bc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#sfe-container-tree li a.sfe-active {
    font-weight: bold;
}

#sfe-container-tree li a.sfe-active:hover {
	background-color: #D8EAEA;
}

#sfe-panel-divider {
    cursor: ew-resize;
    background: url(../images/icon-panel-drag.png) center center no-repeat;
    width: 1%;
}

#sfe-panel-divider .sfe-control-bar {
    padding-bottom: 0;
}

#sfe-panel-divider .sfe-control-bar span {
    background: url(../images/icon-panel-drag.png) center center no-repeat;
    cursor: ew-resize;
    display: block;
    height: 24px;
    margin: 8px 0;
}

#sfe-panel-edit {
    background: #FFF;
    width: 64%;
    position: relative;
}

#sfe-container-edit {
    height: 236px;
    overflow: auto;
    position: relative;
}

#sfe-container-edit td,#sfe-container-edit th {
    /*padding: 4px*/


}
#sfe-container-edit td {
	white-space: normal;
}

#sfe-container-edit td.input_checkbox {
    line-height: 100%;
}

#sfe-panel-edit .tableheader {
	vertical-align: middle;
}

#sfe-panel-edit .lockingInformation td,table.error_box td,table.confirm_box td {
    padding: 2px 4px;
}

table.error_box td.button,table.confirm_box table td.button {
    padding: 0;
}

#sfe-panel-edit-controls {
    background: #EFEFEF;
    bottom: 0;
    overflow: hidden;
    height: 40px;
    position: absolute;
    right: 0;
    z-index: 1;
    width: 100%;
}

#sfe-panel-edit-controls .sfe-generic-wrapper {
	padding: 4px;
}

.sfe-button-bar {
    float: right;
}

.sfe-button-bar ul {
    list-style: none;
}

.sfe-button-bar li {
    float: left;
}

.sfe-button-bar a {
	background-color: #6DB4B3;
    border: 1px solid #319F9E;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #FFF;
    cursor: pointer;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 0 0 4px;
    padding: 5px 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 32px;
	display: inline-block;
    text-decoration: none;
    border: 1px solid #319F9E;
    padding: 6px 7px;
    white-space: nowrap;
}

.sfe-button-bar a:focus {
    border: 1px solid #319F9E;
    -moz-box-shadow: 1px 1px 3px rgba(049,159, 158, 0.7), -1px -1px 3px rgba(049,159, 158, 0.7);
    -webkit-box-shadow:1px 1px 3px rgba(049,159, 158, 0.7), -1px -1px 3px rgba(049,159, 158, 0.7);
    box-shadow:1px 1px 3px rgba(049,159, 158, 0.7), -1px -1px 3px rgba(049,159, 158, 0.7);
    outline: none;
}

.sfe-button-bar a.disabled-button {
    background-color: #CCC;
    border: 1px solid #CCC;
    color: #777;
}

.sfe-button-bar a.sfe-secondary {
	background-color:#F9F9F9;
	border: 1px solid #CCC;
	color: #333;
}

.sfe-panel-collapse-opened {
    display: block;
    height: 24px;
    width: 16px;
    padding: 0;
    background: url('../images/ic_arrow_down_grey.png') no-repeat center center;
}
.sfe-panel-collapse-opened:hover{
	background: url('../images/ic_arrow_down_white.png') no-repeat center center;
}

.sfe-panel-collapse-closed {
    display: block;
    height: 24px;
    width: 16px;
    padding: 0;
    margin-top: -3px;
    background: url('../images/ic_arrow_up_grey.png') no-repeat center center;
}

.sfe-panel-collapse-closed:hover{
	background: url('../images/ic_arrow_up_white.png') no-repeat center center;
}

.sfe-inspector-button {
	background: url('../images/icon-inspect.png') no-repeat 10px center;
    padding-left: 32px;
}

.sfe-inspector-button:hover {
	background: url('../images/icon-inspect-hover.png') no-repeat 10px center #575d63;
}

.sfe-inspector-button-on, .sfe-inspector-button-on:hover {
    background: url('../images/icon-inspect-on.png') no-repeat 10px center #EFEFEF;
	border-radius: 2px;
	color: #333;
}

.sfe-layout-button {
	background: url('../images/icon-layout.png') no-repeat 10px center;
	padding-left: 32px;
}

.sfe-layout-button:hover {
	background: url('../images/icon-layout-hover.png') no-repeat 10px center #575d63;
	color: #fff;
}

.sfe-layout-button.on, .sfe-layout-button.on:hover {
	background: url('../images/icon-layout-on.png') no-repeat 10px center #EFEFEF;
	border-radius: 2px;
	color: #333;
}

.sfe-data-view-button {
	background: url('../images/icon-table.png') no-repeat 5px center;
	padding-left: 27px;
	padding-right: 16px;
}

.sfe-data-view-button:hover {
    background: url('../images/icon-table-hover.png') no-repeat 5px center;
    color: #FFF;
}

/*dialog*/
.sfe-dialog-wrapper label {
    color: #999;
    display: block;
    font-size: 13px;
    margin-bottom: 3px;
}

.sfe-dialog-wrapper input {
    border: 1px solid #CCC;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    font-size: 13px;
    height: 32px;
    line-height: 17px;
    margin: 0;
    padding: 0px 5px;
}

.sfe-dialog-wrapper .sfe-required {
    color: #F00;
}

/* preview status display */
#sfe-preview-summary-layer {
    padding: 4px 18px;
    width: 100%;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    position: relative;
    background-color: #EFEFEF;
}

#sfe-preview-summary-layer label {
    color: #777777;
}

#sfe-preview-summary-layer span {
    font-style: italic;
    color: #333333;
}

.sfe-preview-summary-parameter-group-ParameterGroup4,.sfe-preview-summary-parameter-group-ParameterGroup3 {
    left: 300px;
    position: absolute;
    width: 500px;
}

.sfe-preview-summary-parameter-group-ParameterGroup4 {
    top: 0;
}

.sfe-preview-summary-parameter-group-ParameterGroup3 {
    top: 28px;
}

#sfe-preview-summary-parameter-ServerTime, .sfe-preview-summary-parameter {
    color: #000;
    text-align: left;
}

.sfe-preview-summary-parameter-group-nondefault {

}

#sfe-preview-summary-layer li,#sfe-preview-summary-layer li div {
    display: inline;
}

#sfe-preview-summary-layer label {
    float: left;
    width: 130px;
}

#sfe-preview-summary-layer ul {
    margin-left: 90px;
    width: 100%;
}

span.sfe-extended-values {
    cursor: help;
}

/*preview configuration layer*/
#sfe-configure-layer {
    background-color: #EFEFEF;
    box-shadow: 0 6px 6px 0 #999999;
    border: 1px solid #e1e1e1;
    border-top: none;
    display: none;
    left: 10%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 45px;
    z-index: 3;
    margin-left: 399px;
    -webkit-box-shadow: 0 1px 4px 1px #CCCCCC;
    -moz-box-shadow: 0 1px 4px 1px #CCCCCC;
    box-shadow: 0 1px 4px 1px #CCCCCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.sfe-configure-layer-buttons {
    padding: 4px;
}

#sfe-configure-layer select {
    width: 316px;
}

#sfe-configure-layer input[type="checkbox"],
#sfe-configure-layer input[type="radio"] {
    margin: 2px 6px 2px 0;
}

/*
#sfe-configure-layer a {
	text-decoration: underline;
	color: #87A0B0;
	font-size: 12px;
}
*/
#sfe-configure-layer input[type="radio"] {
    margin-left: 6px;
}

#sfe-configure-layer .ui-dialog {
    position: relative;
    padding: 0;
}

#sfe-configure-layer .ui-dialog .ui-dialog-content {
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 10px 0 10px;
}

#sfe-configure-layer .fieldset {
    background-color: #FFF;
    display: inline-block;
    height: 100px;
    width: 306px;
    border: 1px solid #CCC;
    overflow: auto;
    padding: 4px;
}

#sfe-configure-layer .fieldset label {
    display: block;
    line-height: 22px;
}

#sfe-configure-layer .fieldset input[type="checkbox"] {
    margin: 4px;
    vertical-align: middle;
}

#sfe-configure-layer label.fielditem {
    color: #777777;
    padding: 0 6px;
}

#sfe-configure-layer .fielditem2 {
    color: #777777;
    padding-top: 4px;
}

#sfe-configure-layer label.fielditem2,
#sfe-configure-layer label.fielditem2_error {
    padding: 8px 0 0 6px;
    width: 150px;
    font-weight: 400;
}

#sfe-configure-layer .fielditem_comment,
#sfe-configure-layer .checkbox_comment {
    color: #777777;
    font-size: 11px;
}

#sfe-configure-layer label.fielditem2_error {
    padding-right: 6px;
}

#sfe-configure-layer .sfe-input-without-label {
    padding-left: 160px;
    padding-top: 4px;
}

#sfe-configure-layer .error_icon,#sfe-configure-layer .error {
    padding: 4px;
}

#sfe-configure-layer .error {
    font-size: 12px;
}

#sfe-configure-layer .error_box {
    margin: 1px 0 0 0;
    padding: 0 4px 0 4px;
    width: 100%;
}

#sfe-configure-layer input.sfe-text-input {
    width: 240px;
    padding: 4px;
    font-size: 12px;
}
/*
#sfe-configure-layer a.button {
	padding: 5px 12px;
	margin: 0;
	border-color: #87A0B0;
	text-decoration: none;
	color: #333;
	font-size: 11px;

}
*/
#sfe-configure-layer img[src*="space.gif"] {
    display: inline;
}

#sfe-configure-layer-close {
    float: right;
    margin: 10px 20px 0 0;
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}

#sfe-configure-layer .sfe-preview-loading {
    display: none;
    position: absolute;
    bottom: 15%;
    right: 45%;
    font-weight: bold;
    text-align: center;
}

#sfe-configure-layer .sfe-preview-loading img {
    display: block;
    margin-bottom: 2px;
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #CCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

#sfe-configure-layer .sfe-time-input {
    width: auto;
}

#sfe-configure-layer .sfe-preview-form-parameter-group-simple {
    padding-top: 25px;
}

#sfe-configure-layer .sfe-preview-form-parameter-group-ParameterGroup0 {
    display: none;
}

#sfe-configure-layer .sfe-preview-form-parameter-group-ParameterGroup1 {
    border-top: none;
    padding-top: 0;
}

#sfe-configure-layer .sfe-preview-form-parameter-group-ParameterGroup3,
#sfe-configure-layer .sfe-preview-form-parameter-group-ParameterGroup5,
#sfe-configure-layer .sfe-preview-form-parameter-group-StatusDisplay {
    padding-top: 25px;
}

#sfe-configure-layer .sfe-preview-form-parameter-group-ParameterGroup4 {
    padding-top: 10px;
}

#sfe-configure-layer .sfe-preview-form-parameter-group-ParameterGroup3 .fieldset-checkboxes input[type="checkbox"]{
    margin: 0px 5px 0px 2px;
}

#sfe-configure-layer .sfe-preview-form-parameter-group-ParameterGroup3 .fieldset-checkboxes-header {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 4px;
    font-weight: bold;
}

#sfe-configure-layer .sfe-preview-form-parameter-group-ParameterGroup3 .fieldset-checkboxes-second-header {
    padding-top: 7px;
    margin-bottom: 2px;
}

#sfe-configure-layer .sfe-preview-form-parameter-group-ParameterGroup3 .fieldset {
    width: 316px !important;
    height: auto;
    max-height: 240px;
}

#sfe-configure-layer .sfe-preview-form-parameter-group-ParameterGroup3 .fieldset label{
    margin: 0px 0 2px 0;
    color: #777777;
}

#sfe-configure-layer .sfe-preview-form-parameter-group-StatusDisplay {
    border-bottom: none;
    padding-bottom: 15px;
}

#sfe-preview-date-radio-container,.sfe-checkbox-row {
    display: inline-block;
    padding-top: 8px;
}

.sfe-checkbox-row {
    padding-top: 8px;
}

.sfe-preview-pca-datetime,.sfe-preview-width-height {
    margin-left: 154px;
}

.sfe-fields {
    padding-bottom: 10px;
}

.sfe-fields > .ui-dropdown {
    width: 316px !important;
}


/* full site preview styles */
#sfe-fullsite-preview-bar {
    background-color: #2D353C;
    bottom: 0;
    color: #000;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 2;
}

#sfe-fullsite-preview-bar .sfe-button {
    background-color: #6DB4B3;
    border: 1px solid #319F9E;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #FFF;
    cursor: pointer;
    display: inline;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 32px;
	text-decoration: none;
    border: 1px solid #319F9E;
    padding: 6px 7px;
    white-space: nowrap;
}

#sfe-fullsite-preview-bar #header-bar {
    padding: 0 10px;
    height: 44px;
	line-height: 45px;
}

#sfe-fullsite-preview-bar .error_box {
    background-color: #f3dddf;
    width: 100%;
    line-height: 30px;
}

#sfe-fullsite-preview-bar .error_icon,
#sfe-fullsite-preview-bar .error {

}

#sfe-fullsite-preview-bar .error_icon > img {
    display: none;
}

#sfe-fullsite-preview-bar .error {
    color: #b30015;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;;
    font-size: 12px;
    text-align: center;
}

#sfe-fullsite-preview-bar .sfe-error-message {
    padding-right: 2px;
    vertical-align: top;
}

#sfe-fullsite-preview-past-dates-disabled-error-close {

}

.sfe-fullsite-preview-setting-panel {
    background-color: #EEEEEE;
    border: 0;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    left: 10px;
    line-height: 15px;
    margin-right: 10px;
    overflow: auto;
    padding: 10px;
    position: relative;
    z-index: 10;
    -webkit-box-shadow: 0 1px 1px 1px #CCCCCC;
    -moz-box-shadow: 0 1px 1px 1px #CCCCCC;
    box-shadow: 0 1px 1px 1px #CCCCCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.sfe-fullsite-preview-setting-panel td {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 20px;
    vertical-align: middle;
}

.sfe-fullsite-preview-setting-panel a {
    color: #000;
    text-decoration: underline;
}

.sfe-fullsite-preview-setting-panel .label {
    font-style: normal;
    color: #777777;
    padding-right: 5px;
    white-space: nowrap;
}

.sfe-fullsite-preview-setting-panel p {
    font-style: normal;
    padding-bottom: 5px;
}

.sfe-fullsite-preview-setting-panel .sfe-close,#sfe-fullsite-preview-bar .sfe-close {
    background-image: url("../images/ui-icons_222222_256x240.png");
    background-position: -24px -185px;
    float: right;
    height: 30px;
    width: 30px;
}

.sfe-fullsite-preview-setting-panel #sfe-fullsite-preview-parameter-container {
    padding-bottom: 8px;
}

.sfe-fullsite-preview-setting-panel #sfe-fullsite-preview-url-container {
    line-height: 15px;
    padding-top: 7px;
    padding-left: 15px;
}

.sfe-fullsite-preview-setting-panel #sfe-fullsite-preview-url {
    font-style: normal;
    color: #87A0B0;
    display: inline-block;
    word-wrap: break-word;
}

#sfe-fullsite-preview-parameter-container-tippbox,#sfe-fullsite-preview-url-container-tippbox {
    bottom: 45px;
    display: none;
    position: absolute;
    margin-right: 10px;
    z-index: 5;
}
/* styles for tooltipp layout of setting and url container of fullsite preview */
#sfe-fullsite-preview-parameter-container-tippbox:after,#sfe-fullsite-preview-parameter-container-tippbox:before,#sfe-fullsite-preview-url-container-tippbox:after,#sfe-fullsite-preview-url-container-tippbox:before {
    content: "";
    display: inherit;
    position: absolute;
    width: 0;
    border-width: 10px 10px 0;
    border-style: solid;
}

#sfe-fullsite-preview-parameter-container-tippbox:before,#sfe-fullsite-preview-url-container-tippbox:before {
    border-color: #CCCCCC transparent;
}

#sfe-fullsite-preview-parameter-container-tippbox:after,#sfe-fullsite-preview-url-container-tippbox:after {
    border-color: #EBEBEB transparent;
}

#sfe-fullsite-preview-parameter-container-tippbox:after {
    bottom: -9px;
    left: 30px;
    z-index: 20;
}

#sfe-fullsite-preview-parameter-container-tippbox:before {
    bottom: -10px;
    left: 30px;
    z-index: 1;
}

#sfe-fullsite-preview-url-container-tippbox:after {
    bottom: -9px;
    left: 175px;
    z-index: 10;
}

#sfe-fullsite-preview-url-container-tippbox:before {
    bottom: -10px;
    left: 175px;
    z-index: 1;
}

.kor-overlay {
    position: absolute;
    display: none;
    z-index: 5;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
}

.kor-modal {
    position: absolute;
    display: none;
    background: #000;
    top: 0;
    left: 0;
    z-index: 4;
}

.kor-overlay h1 {
	border: none;
    border-bottom: 1px solid #CCCCCC;
	color: #777777;
	font-size: 15px;
	font-weight: normal;
	height: 25px;
	line-height: 24px;
	margin: 0;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
}

.sfe-dialog-wrapper {
    /*padding-bottom:20px;*/

}

.sfe-dialog-close {
    background: url("../images/ui-icons-up.png") no-repeat;
    background-position: -96px -128px;
    height: 24px;
    margin-top: 10px;
    position: absolute;
    right: 0;
    text-indent: -999em;
    top: 0;
    width: 28px;
}

.sfe-dialog-content-padding {
    background: #FFF;
    padding: 5px;
}

.sfe-dialog-content {

}

.sfe-dialog-wrapper form {
    display: block;
    padding: 5px 5px 20px;
}

.sfe-dialog-wrapper form#sfe-login-dialog-form{
    margin: -8px -10px;
    padding: 30px 35px 20px;
    border-bottom: 1px solid #CCCCCC;
}

.sfe-dialog-wrapper .sfe-generic-wrapper {
    overflow: hidden;
}

.sfe-dialog-wrapper .sfe-info,
.sfe-dialog-wrapper .sfe-error,
.sfe-dialog-wrapper .sfe-error-box {
    line-height: 1.4;
    font-size: 13px;
    margin: -8px -10px;
    padding: 15px 15px 15px 35px;
    border-bottom: 1px solid #CCCCCC;
}

.sfe-dialog-wrapper .sfe-info {
    background: #E3F1FF url("../images/information.gif") no-repeat scroll 10px 18px;
    color: #2C6AAC;
}

.sfe-dialog-wrapper .sfe-error {
    background: #F3DDDF url("../images/error.gif") no-repeat scroll 10px 18px;
    color: #B30015;
}

.sfe-dialog-wrapper .sfe-error.sfe-error-box {
    background: #F3DDDF url("../images/error.gif") no-repeat scroll 10px 18px;
    padding-top: 30px;
}

.sfe-dialog-wrapper .sfe-error-box {
    background: #F3DDDF url("../images/error.gif") no-repeat scroll 10px 17px;
    color: #B30015;
    padding: 15px 35px 15px 35px;
}

.sfe-dialog-wrapper .sfe-error-box .sfe-dialog-close {
    margin-top: 16px;
}

.sfe-button-bar {
    list-style: none;
}

/* error */
.kor-error {
    color: #fc7c17;
}

input.kor-error {
    border: 1px solid #fc7c17;
}

/* TinyMCE OVERRIDES */
#sfe-container-edit .mceLayout td {
    padding: 0;
}

.mceEditor {
    display: block;
    margin: -4px 0 0 0;
}

.mceEditor+p {
    margin: 5px 0;
}

.mceStatusbar {
    padding: 3px !important;
}

.mceResize {
    margin-right: 2px !important;
}

/* KILL THE SPACER GIF! */
img[src*='space.gif'] {
    display: none;
}

/* loader */
.sfe-loading {
    display: none;
    position: absolute;
    font-weight: bold;
    top: 0;
    left: 0;
    text-align: center;
    text-shadow: 0 1px 0 #FFF;
    width: 70px;
}

.sfe-loading img,.sfe-detail-dialog-loader img {
    background: #FFFFE5;
    border: 1px solid #FFD453;
    display: block;
    margin-bottom: 5px;
    padding: 3px 24px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

.sfe-detail-dialog-loader {
    display: none;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 0 #FFF;
    width: 70px;
    margin: 25px auto;
}

#sfe-dialog-iframe {
    overflow: auto;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sfe-detail-dialog {
    width: 75%;
}

.sfe-tip {
    border-bottom: 1px dashed #CC6600;
    cursor: help;
}

.kor-tip {
    padding: 7px;
}

.sfe-hidden {
    display: none;
}

.sfe-action-disable {
    cursor: default !important;
}

.table_title2 a.table_opened.sfe-action-disable,
.table_title2 a.table_closed.sfe-action-disable {
    background: none;
    padding-left: 0px;
}

.object-properties label,.object-properties input[type=text],.object-properties textarea {
    display: block;
}

.object-properties input[type=text],.object-properties textarea {
    width: 90%;
    margin: 0 0 2px 10px;
}

.dragging {
    background-color: #FFFFE5;
}

.drag-indicate-after {
    border-bottom: 1px dashed #CC6600;
}

.drag-indicate-before {
    border-top: 1px dashed #CC6600;
}

.sfe-image-preview {
    max-width: 120px;
    max-height: 120px;
}

.sfe-preview-pca-datetime-hide {
    display: none;
}

#sfe-preview-summary-layer {
	text-align: center;
	border-bottom: 1px solid #ccc;
}

#sfe-preview-summary-layer .fa {
	color: #909090;
	padding: 5px 10px;
}
#sfe-preview-summary-layer .fa.active,
#sfe-preview-summary-layer .fa:hover {
	color: #000;
}

.designShoties{
	float :left;
}

/************************************************
Design View Component Palette for drag and drop
*************************************************/

#component-palette {
	background: #fff;
	box-sizing: border-box;
	float: left;
	height: 300px;
	width: 400px;
	border: none;
	border-right: 1px solid #e1e1e1;
}

#component-palette-content {
	overflow: auto;
}

#palette-resizer {
	float: left;
	height: 300px;
	width: 20px;
	border: none;
	background: url(../images/icon-panel-drag.png) center center no-repeat;
	background-color: #2D353C;
	cursor: ew-resize;
	text-align: center;
}

#palette-resizer.collapsed {
	background: none;
	background-color: #2D353C;
	cursor: auto;
}

#component-palette-head {
	margin-bottom: 12px;
}

.component-palette-content-head {
	font-weight: bold;
	padding: 0px 0px 12px 20px;
	overflow: hidden;
}

.tab-icon {
	height: 16px;
	margin-bottom: 2px;
}

.mediaAssets .tab-icon {
	background: url(../images/ic_media_assets.svg) no-repeat scroll 50% 0;
}
.mediaAssets.active .tab-icon {
	background: url(../images/ic_media_assets_grey.svg) no-repeat scroll 50% 0;
}
.componentTemplates .tab-icon {
	background: url(../images/ic_component_template.svg) no-repeat scroll 50% 0;
}
.componentTemplates.active .tab-icon {
	background: url(../images/ic_component_template_grey.svg) no-repeat scroll 50% 0;
}

.component-palette-content .search-palette {
	margin-bottom: 12px;
	margin-left: 5px;
	position: relative;
}

.component-palette-content input.search-palette-input {
	background: url(../images/icon_search_grey.gif) 10px center no-repeat;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 100%;
}

.component-palette-content .btn-remove-search-palette {
	border: none;
	background: none;
	display: none;
	height: 32px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 25px;
}

.component-palette-content .btn-remove-search-palette span {
	background-image: url(../images/ui-icons-up.png);
	background-position: -96px -128px;
	height: 16px;
	left: 0px;
	position: absolute;
	top: 8px;
	width: 16px;
}

.component-palette-content .btn-remove-search-palette:hover span {
	background-image: url(../images/ui-icons-hover.png);
}

.component-palette-content-item {
	padding: 12px 12px 0px 12px;
	display: none;
}
.component-palette-content-item.active {
	display: block;
}

.component-tileset {
	overflow: hidden;
	clear: both;
	width: 100%;
}

.component-tileset-title {
	font-size: 15px;
	font-weight: 700;
	color: #333;
	display: block;
	padding: 0px 0 14px 21px;
	text-decoration: none;
	background: url("../images/icon-tree-closed.png") no-repeat 0 2px;
}

.component-tileset-title.table_opened {
	background: url("../images/icon-tree-open.png") no-repeat 0 2px;
}

.component-tileset-title a {
	font-size: 13px;
	font-weight: 700;
	color: #333;
	display: block;
	padding: 0 0 14px 21px;
	text-decoration: none;
}

.component-tileset .component-tileset-content {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 10px;
	padding-left: 15px;
}

.component-tile-container {
	position: relative;
	background: #f4f4f4;
	margin: 5px;
	overflow: hidden;
}

.component-tile {
	height: 113px;
	padding: 6px;
	position: relative;
	width: 88px;
}

.component-tile:hover {
	opacity: 0.5;
	background: #d8eaea;
}

.component-tile.folder-tile {
	cursor: pointer;
}

.component-tile-img {
	background: #fff;
}

.component-tile-img img {
	width: 88px;
}

.component-tile.file-tile .component-tile-img {
	background: transparent;
}

.component-tile-video {
	position: relative;
}

.component-tile-title {
	overflow: hidden;
	padding-top: 5px;
	text-overflow: ellipsis;
	width: 88px;
}

.component-tile.file-tile .component-tile-title {
	overflow: hidden;
	padding-top: 5px;
	position: absolute;
	bottom: 5px;
	text-overflow: ellipsis;
	width: 88px;
}

.component-tile-info {
	background: url("../images/ic_info.png") no-repeat 0 2px;
	cursor: pointer;
	position: absolute;
	width: 16px;
	height: 20px;
	top: 5px;
	right: 7px;
	display: none;
}

.component-tile-help {
	background: url("../images/ic_help.png") no-repeat 0 2px;
	cursor: pointer;
	position: absolute;
	width: 16px;
	height: 20px;
	top: 5px;
	right: 7px;
	display: none;
}

.component-tile:hover + .component-tile-info,
.component-tile-info:hover {
	display: block;
}

.component-tile:hover + .component-tile-help,
.component-tile-help:hover {
	display: block;
}


.component-tile:hover + .component-tile-info {
	pointer-event: auto;
}

.tooltip {
	display: none;
}

#powerTip .tooltip p {
	padding-bottom: 6px;
}

#powerTip .tooltip a {
	text-decoration: underline;
}

.palette-collapse {
    display: block;
    height: 24px;
    width: 100%;
    padding: 2px 0 0 1px;
    cursor: pointer;
}

.palette-collapse {
    background: url('../images/ic_arrow_left_grey.png') no-repeat center center;
}
.palette-collapse:hover {
	background: url('../images/ic_arrow_left_white.png') no-repeat center center;
}
.palette-collapse.collapsed {
    background: url('../images/ic_arrow_right_grey.png') no-repeat center center;
}
.palette-collapse.collapsed:hover {
	background: url('../images/ic_arrow_right_white.png') no-repeat center center;
}

.video-play-button {
	position: absolute;
	right: 0px;
	bottom: 3px;
	padding: 0;
	height: 16px;
	width: 24px;
	border: none;
	background: url('../images/play.png') no-repeat center center;
}
.playing .video-play-button {
	background: url('../images/pause.png') no-repeat center center;
}


/* drag & drop styles */

[draggable=true] {
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

/* navigation via tabs */
ul.tab-list {
	list-style: none;
	overflow: hidden;
}

ul.tab-list > li {
	background-color: #f4f4f4;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	box-sizing: border-box;
	color: #168989;
	cursor: pointer;
	float: left;
	height: 100%;
	padding: 10px 18px;
	text-align: center;
	width: 50%;
}

ul.tab-list li.active {
	background-color: #ffffff;
	border-bottom: 0px;
}

ul.tab-list li.active a {
	color: #000000;
}

ul.tab-list .tab-icon {
	display: block;
}

ul.tab-list .tab-title {
	white-space: nowrap;
}
