/* Design View specific styles that get injected into the storefront */

.layoutFrame.visible {
	position: relative;
	min-height: 24px;
}

.layoutFrame.visible:after {
	content: ' ';
	display: block;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	border: 1px dashed #319F9E;
}

.layoutFrame.visible .contentMarkerBackground {
	z-index: 10;
	display: block;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background: #319F9E;
	opacity: 0.1;
}
.layoutFrame.visible.valid-dropzone .contentMarkerBackground {
	opacity: 0.5;
}

.layoutFrame .contentMarkerMenu {
	display: none;
	width: auto;
	background: #000;
	opacity: 0.6;
	color: #fff;
	height: 22px;
	line-height: 22px;
	z-index: 3000;
	position: absolute;
	top: 1px;
	left: 1px;
}

.layoutFrame.visible .contentMarkerMenu {
	display: block;
}
.layoutFrame.visible:hover .contentMarkerMenu {
	opacity: 1;
}
.layoutFrame .contentMarkerMenu .contentLabel {
	float: left;
	padding: 0 10px;
	white-space: nowrap;
}
