/* ie specific styles */

.sfe-button-bar li a {
	border-left: 1px solid #A4ADB0 !important;
}
.sfe-image-preview {
	width: 120px !important;
}

.sfe-panel-collapse-opened,
.sfe-panel-collapse-closed,
.sfe-inspector-button,
.sfe-layout-button,
.sfe-data-view-button {
	background-color: #e0e0e0 !important;
	filter: none !important;
}

.sfe-tabs ul {
	top: 0 !important;
}
