/* SFE specific styles */

.visible.layoutFrame {
	position:relative; 
	min-height: 24px;
} 

 .visible.layoutFrame:after{
	content: ' ';
	z-index: 10;
	display: block;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	border: 1px dashed rgb(255, 51, 0);
 } 

 .visible.layoutFrame.hover:after {
	border: 1px dashed rgb(255, 51, 0);
	background: #CCCC99; 
	opacity: .5;
 }

.layoutFrame.visible .contentMarkerBackground {  
 	z-index: 10;
	display: block;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	
	background: #FFFFCC; 
	opacity: .5;"
  }
 .layoutFrame .contentMarkerMenu {
 	display: none; 
 	width: auto; 
 	background: #000;
 	color: #fff; 
 	height: 23px; 
 	line-height: 23px;	
 	z-index: 3000;
	position: absolute;
	top: 0;
	padding-right: 10px;
	min-width: 180px;
 }
 .layoutFrame.visible .contentMarkerMenu {
 	display: block;
 }
 
  .contentMarkerMenu .contentLabel {
 	float: left;
 	padding: 0 10px;
 }
 	
 	
[class^="icon-content-marker-"] {
	display: inline-block; 
 	height: 23px; 
 	width: 18px; 
 	margin-left: 6px; 
 	position: relative;
}
 .icon-content-marker-add {
 	background: url('../images/icon-content-marker-add.png') no-repeat 0 3px; 
 	
 }
 	
.icon-content-marker-edit {
	background: url('../images/icon-content-marker-edit.png') no-repeat 0 3px; 

}
	
.icon-content-marker-remove {
	background: url('../images/icon-content-marker-remove.png') no-repeat 0 3px; 

}

/*
<style type='text/css'>" +
   " .visible." + .layoutFrame + "{"+
   " position:relative; min-height: 20px"+
   "} "+
   
 ".visible." +.layoutFrame :after{"+
 ""+
 "content: ' ';"+
 "z-index: 10;"+
 "display: block;"+
 "position: absolute;"+
 "height: 100%;"+
 "top: 0;"+
 "left: 0;"+
 "right: 0;"+
 "border: 1px dashed rgb(255, 51, 0); "+
 "background: #FFFFCC; opacity: .5;"+
 "} " + 
 
 ".visible." + .layoutFrame + ".hover:after {" +
 "border: 1px dashed rgb(255, 51, 0); "+
 "background: #CCCC99; opacity: .5;"+
 "}"+
 ".dropTarget .contentMarkerMenu {display: none; width: 200px; background: black;color: white; height: 18px; position: absolute; top: 0; left: 0;}"+
 ".dropTarget.visible .contentMarkerMenu {display: block;}"+
 ".icon-content-marker-add {background: url('../images/icon-content-marker-add.png') no-repeat; display: inline-block; height: 18px; width: 18px; margin-left: 6px; position: relative;}"+
 ".icon-content-marker-edit {background: url('../images/icon-content-marker-edit.png') no-repeat; display: inline-block; height: 18px; width: 18px; margin-left: 6px; position: relative;}"+
 ".icon-content-marker-remove {background: url('../images/icon-content-marker-delete.png') no-repeat; display: inline-block; height: 18px; width: 18px; margin-left: 6px; position: relative;}"+
 "</style>*/