<?xml version="1.0" encoding="UTF-8" ?>

<included>
<!--
  * This is a sample logback configuration with the following definition parts
  * - a conversion rule that is used to print out user information, alternatively you can put additional user information to the MDC, see bc_auditing.properties
  * - a file appender for auditing events that filters persistent objects of the package 'com.intershop.beehive.xcs' and uses a time based rolling policy
  * - a logger referencing the AuditFileAppender
-->
<!--
	<conversionRule conversionWord="userInfo" converterClass="com.intershop.component.auditing.capi.pattern.converter.UserInformationConverter" />

	<appender name="AuditFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<OnMatch>NEUTRAL</OnMatch>
			<OnMismatch>DENY</OnMismatch>
		</filter>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator name="auditMarkerEval">
				<expression>(marker!=null) &amp;&amp; (marker.getName().equals("audit"))</expression>
			</evaluator>
			<OnMatch>NEUTRAL</OnMatch>
			<OnMismatch>DENY</OnMismatch>
		</filter>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator name="auditMarkerXCSEval">
				<expression>(event.getArgumentArray()!=null) &amp;&amp; (event.getArgumentArray()[0].getClass().getName().startsWith("com.intershop.beehive.xcs"))</expression>
			</evaluator>
			<OnMatch>ACCEPT</OnMatch>
			<OnMismatch>DENY</OnMismatch>
		</filter>
		<File>${intershop.logfile.Directory}/audit-${intershop.logfile.NamePostfix}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${intershop.logfile.Directory}/audit-${intershop.logfile.NamePostfix}-%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<Pattern>
					[%date{yyyy-MM-dd HH:mm:ss.SSS Z}] %-5level ${intershop.HostName} ${intershop.InstallationID} ${intershop.ServerName} [%mdc{request.uuid}] &quot;%thread&quot; %userInfo %marker: %msg %ex%n
				</Pattern>
			</layout>
		</encoder>
	</appender>
-->
<!--
	<logger name="com.intershop">
		<appender-ref ref="AuditFileAppender" />
	</logger>
-->
</included>