/* Dashboard Dialogs (general) */
#dialog {
	background-color: #FFF;
}

#dialog .ui-dialog-content {
	height: 78px;
	padding: 20px 0;
}

#dialog label {
	padding-left: 0;
}

/* End of Dashboard Dialogs (general) */
