/* Main Header Dashboard Menu */
#main_header .dashboardMenu {
    width: 36px;
    position: relative;
    display: block;
    background-position: 0px 0px;
    margin: 0 20px 0 0 !important;
    padding: 0 5px;
}

#main_header .dashboardMenu:hover {
    background-position: 0 0;
    margin: 0 20px 0 0 !important;
    padding: 0 5px;
}

#main_header .dashboardMenu > a {
    width: 36px !important;
}

#main_header .dashboardMenu li a {
    line-height: 34px;
    text-decoration: none;
    margin: 0;
    padding: 0 10px;
    display: block;
    height: 34px;
    color: #777;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main_header .dashboardMenu ul {
    position: absolute;
    top: 44px;
    width: 160px;
    max-width: 160px;
    background: #efefef;
    border: none;
    display: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 400000; /*higher than tinyMCE popups*/
    -webkit-box-shadow: 0px 1px 4px 1px #CCCCCC;
    -moz-box-shadow: 0px 1px 4px 1px #CCCCCC;
    box-shadow: 0px 1px 4px 1px #CCCCCC;
    margin-left: -5px;
    margin-right: 0;
    padding: 0;
}

#main_header .dashboardMenu:hover ul {
    display: block;
    opacity: 1;
}

#main_header .dashboardMenu li {
    list-style: none;
}

li.dashboardMenu .dashboardMenu_separator {
    border-bottom: 1px solid #CCC;
}

#main_header .dashboardMenu ul a:hover {
    background: #f9f9f9;
    color: #333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* End of Main Header Dashboard Menu */