.propertyeditor {
		margin-bottom: 18px;
}

.dialog-content .propertyeditor:last-child {
	margin-bottom: 0;
}

h2.propertyeditor-title {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #333;	
    margin: 0 0 10px;
	padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.propertygroup-property-ungrouped > .propertygroup-property-content > .propertygroup {
	margin-left: 0;
}

.propertygroup-property-ungrouped > .propertygroup-property-content > .propertygroup > .propertygroup-description {
	display: none;
}

.propertygroup .propertygroup-property-subgroup .propertygroup-property {
	margin-left: 20px;
}

.propertygroup .propertygroup-property-subgroup,
.propertygroup .propertygroup-property-ungrouped {
	padding: 10px 0 6px;
}

.propertygroup-property-subgroup > .propertygroup-property-label {
	margin: 0 0 8px;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.propertygroup-error,
.propertygroup-property-displayname:empty,
.propertygroup-property-description:empty,
.propertygroup-property-subdescription:empty,
.propertygroup-property-error:empty,
.propertygroup-property-suberror:empty,
.propertygroup-description:empty {
	display: none;
}

.propertygroup-property-checkbox {
	display: none;
	margin: 0 6px 0 0;
	vertical-align: middle;
}

.propertygroup-property-helptext:empty  {
	display: none !important;
}

/* only show error on top-level propertygroup */
.propertygroup-property-content .propertygroup-error {
	display: none !important;
}

.propertygroup-error,
.propertygroup-property-suberror {
	border: 1px solid  #B30015; 
	padding: 6px;
	margin: 0 0 10px;
	background-color: #F3DDDF;
	color: #B30015;
	font-size: 12px;	
}

.propertygroup-description,
.propertygroup-property-subdescription {
	display: inline-block;
	margin: 0 0 13px;
	font-size: 13px;
	color: #777;	
}

.propertygroup-content {
	
}

.propertygroup-property {
	padding-bottom: 4px;
}

.propertygroup-property-label {
	display: inline-block;
	margin: 0 0 2px;
	font-size: 13px;
	color: #777777;
}

.propertygroup-property-invalid > .propertygroup-property-label {
	color: #B30015;
	font-size: 13px;
}

.propertygroup-property-error {
	color: #B30015;
	font-size: 11px;
}

.propertygroup-property-content {
	display: inline;
}

.propertygroup-property-description {
	display: inline-block;
	font-size: 11px;
	color: #999;
}

.propertygroup-property-helptext {
	width: 200px;
	float: right;
	text-align: left;
	margin-top: 20px;
	padding: 10px;
	display: none;
	margin-top: 20px;
	font-size: 11px;
	color: #777;	
	background-color: #F2F2F2;	
}

.propertygroup-property-content > .propertygroup-editor-invalid .propertygroup-editor-value {	
	border: 1px solid #B30015;    
}

.propertygroup-editor .propertygroup-editor-value:focus {
	outline: none;
}

.propertygroup-editor-passwordinput .propertygroup-editor-value[disabled],
.propertygroup-editor-passwordinput .propertygroup-editor-value[readonly] {
	background: #D4D0C8;
	color: #818181;
}