/* ########################################### POPUP-CALENDAR STYLES ########################################################### */
#pcIDcalendar {
	padding-right: 5px;
	padding-left: 5px;
	background-color: #EFEFEF;
	z-index: +999;
	position: absolute;
	visibility: hidden;
	width: auto;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
    -webkit-box-shadow: 0 1px 4px 1px #CCCCCC;
    -moz-box-shadow: 0 1px 4px 1px #CCCCCC;
    box-shadow: 0 1px 4px 1px #CCCCCC;
}

/* Main calendar area */
#pcIDcontent table {
	padding: 5px;
	background-color: #FFFFFF;
	border: 1px solid #319F9E;
	-moz-user-select: none;
}

/* IE6-hack */
*+html #pcIDcontent table {
	width: auto;
}
/* IE7-hack */
*+html #pcIDcontent table {
	width: auto;
}

#pcIDcontent th {
	color: #575d63;
	padding-right: 2px;
	font-weight: normal;
	text-align: center;
}

#pcIDcontent td {
	color: #777;
	padding-right: 2px;
	text-align: center;
	cursor: default;
	border: 0;
}

/* Time input */
#pcIDcalendar input {
	font-size: small;
	-moz-user-select: text !important;
}

#pcIDcalendar td a,
#pcIDcalendar td a:visited {
	color: #319f9e;
	display: block;
	padding: 3px;
	font-weight: normal;
	text-decoration: none;
	border: 1px solid #FFFFFF;
}

#pcIDcalendar td a:hover {
    background-color: #E9F6F6;
}

#pcIDcalendar td.pcDayPast a {
	color: #909090
}

#pcIDcalendar td.pcToday a {
    background-color: #F2F2F2;
}

#pcIDcalendar td.pcDaySelected a {
	text-decoration: none;
	background-color: #319F9E;
	color: #FFFFFF;
}

#pcIDcalendar td.pcDayHoliday,
#pcIDcalendar td.pcWeekend a,
#pcIDcalendar td.pcWeekend a:visited,
#pcIDcalendar td.pcWeekend a:link,
#pcIDcalendar th.pcWeekend {
    color: #777;
	text-decoration: none;
	font-weight: bold;
}

#pcIDcalendar td.pcWeekend a,
#pcIDcalendar td.pcWeekend a:visited,
#pcIDcalendar td.pcWeekend a:link {
    color: #319F9E;
}

#pcIDcalendar td.pcWeekendPast a {
	color: #909090
}

#pcIDcalendar th.pcWeekNumber,
#pcIDcalendar td.pcWeekNumber {
	padding: 5px;
	font-family: Verdana;
	font-size: 12px;
}

/* Footer section ("Today is ...") */
#pcIDfooter {
	padding: 5px;
	color: #333;
	text-align: center;
}

#pcIDfooter a {
	border: none;
	color: #319F9E;
	text-decoration: none;
}

#pcIDfooter a:hover {
    text-decoration: underline;
}

/* Year and month dropdown lists */
#pcIDselectYear,
#pcIDselectMonth {
	z-index: +999;
	position: absolute;
	visibility: hidden;
	padding: 2px;
	width: 4em;
	background-color: #EFEFEF;
	text-align: center;
    -webkit-box-shadow: 0 1px 4px 1px #CCCCCC;
    -moz-box-shadow: 0 1px 4px 1px #CCCCCC;
    box-shadow: 0 1px 4px 1px #CCCCCC;
}

#pcIDselectMonth {
	width: 8em;
	text-align: left
}

#pcIDselectYear ul,
#pcIDselectMonth ul {
	margin: 0;
	padding: 0;
	border: none;
}

#pcIDselectYear li,
#pcIDselectMonth li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#pcIDselectYear li a,
#pcIDselectMonth li a,
#pcIDselectMonth li span,
#pcIDselectYear li span {
	display: block;
	color: #333;
	padding: 2px 4px 2px 4px;
	text-decoration: none;
	width: 100%;
	border: none;
	list-style-image: none;
	list-style-type: none;
	font-size: 12px;
	font-family: Verdana;
}

#pcIDselectMonth li span.pcMonthPast,
#pcIDselectYear li span.pcYearPast {
	color: #909090;
}

#pcIDselectYear a.showMore,
#pcIDselectMonth a.showMore {

}

#pcIDselectYear li a:hover,
#pcIDselectMonth li a:hover {
	background-color: #F2F2F2;
}

html>body #pcIDselectYear li a,
html>body #pcIDselectMonth li a {
	width: auto;
}

/* Head section */
#pcIDcaption {
	padding: 4px;
	background-color: #EFEFEF;
}

#pcIDcaption div {
	clear: none;
}

#pcIDcaption div {
	cursor: pointer;
	float: left;
	margin-right: 3px;
	width: 2em;
	-moz-user-select: none;
}

#pcIDleft,#pcIDright {
	width: 2em !important;
}

#pcIDcaption div a {
	display: block;
	text-decoration: none;
	width: 100%;
	color: #319F9E;
}

#pcIDcaption div a:hover {
	display: block;
	text-decoration: none;
}

html>body #pcIDcaption div,
html>body #pcIDcaption a {
	width: auto;
}

/* Images */
#pcIDleft a {
	background: url(../images/left1.gif) no-repeat center;
}

#pcIDright a {
	background: url(../images/right1.gif) no-repeat center;
}

#pcIDleft a:hover {
	background: url(../images/left2.gif) no-repeat center;
}

#pcIDright a:hover {
	background: url(../images/right2.gif) no-repeat center;
}

#pcIDMonth a,
#pcIDYear a {
	background: url(../images/down1.gif) no-repeat right;
	padding: 0 14px 0 2px;
}

acronym {
	text-decoration: none;
}