/* product selection - table */
#productSelection table.grid,
#productSelectionSearch {
	width: 959px;
}
#productSelectionSearch {
	margin-bottom: 24px;
}
#productSelection table.grid {
	border-right: 1px solid #EEEEEE;
	border-top: 1px solid #EEEEEE;
}
#productSelection table.grid > tbody {
	height: 580px;
	display: block;
	overflow: auto;
}

#productSelection.small table.grid > tbody{
	height: 420px !important;	
}

#productSelection.medium table.grid > tbody{
	height: 480px !important;	
}

#productSelection thead tr {
	display: block;
	position: relative;
}
#productSelection table.grid > tbody tr:last-child {
	border-bottom: 1px solid #EEEEEE;
}
#productSelection td.column-image {
	text-align: center;
	padding-top: 5px;
}
#productSelection td.column-text {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* category/page selection tree */
body#dialog {
	overflow: visible;
}
#categorySelectionTree,
#pageSelectionTree {
	margin-left: 0px;
}
#pageSelectionTree a > ins.tree-radio {
	margin-right: 6px;
}
#pageSelectionTree a > div.status-icon {
	display: inline-block;
	margin-left: 6px;
	vertical-align: middle
}