body {
	margin:0;
	color: 333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.sysLabel {
	background: url("../images/is_label.png") 0 0 no-repeat;
    width: 300px;
    height: 47px;
    position: absolute;
    top: 60px;
    left: 60px;
    margin: 0;
}
.sysErrorImage,
.sysImage {
	width: 150px;
	height: 227px;
	background: url(../images/bg_error.png) no-repeat;	
	left: 680px;
	margin: 0;
	position: absolute;
	top: 0;	
}
.sysErrorImage-general {
	background: url(../images/bg_error_general.png) no-repeat;
}

.sysMessage {	
	line-height: 18px;
	left: 60px;
	margin: 0;
	position: absolute;
	top: 179px;
	padding-right: 20px;
	font-family: Verdana;
	font-size: 14px;
	width: 600px;
	}
.sysMessage p {	
	margin: 4px 0 0 0;
	}
.sysMessage span {		
	}
.sysMessage  a {
	color: #319F9E;
	text-decoration: none;
	}
	
.sysMessage  a:hover {
	text-decoration: underline;
}
	
.sysMessage table {
	margin-bottom: 20px;
	}
.sysMessage td {
	font-size: 13px;
	line-height: 20px;
}
.sysMessage td.errorpage_table_title	{
	font-weight: bold;
	font-size: 15px;
	padding-top: 12px;
}

input.button {
	background-color: #6DB4B3;
	border: 1px solid #319F9E;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #FFF;
	cursor: pointer;
	display: inline;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	height: 32px;
	padding: 5px 7px;
}

.button:focus	{
	border: 1px solid #319F9E;
	-moz-box-shadow: 1px 1px 3px rgba(049, 159, 158, 0.7), -1px -1px 3px
		rgba(049, 159, 158, 0.7);
	-webkit-box-shadow: 1px 1px 3px rgba(049, 159, 158, 0.7), -1px -1px 3px
		rgba(049, 159, 158, 0.7);
	box-shadow: 1px 1px 3px rgba(049, 159, 158, 0.7), -1px -1px 3px
		rgba(049, 159, 158, 0.7);
	outline: none;
}
div.btError {
	margin: 27px 0 15px;
	}
	
