body {
	margin: 0 15px;
	padding: 0;
}

.topic_title {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF3366;
	font-weight: bold;
}

.button {
	background-color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #319F9E;
	text-align: center;		
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #CCC;
	padding: 5px 7px 6px;	
	height: 30px;
	outline: none;
}

.button-spacer {
	height: 29px;
	width: 100px;
	border-bottom: 1px solid #CCC;
}

.button:hover {
	text-decoration: underline;
	cursor:pointer;
}

.button-active {	
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: none;
	 -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius:  2px 2px 0 0;
    border-radius:  2px 2px 0 0;
	font-weight: bold;
	color: #333333;
}

.button-active:hover {
	text-decoration: none;
	cursor:auto;
}

.button_cell {	
	padding-top: 6px;
}

.letters {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #319F9E;
	font-weight: normal;
	text-decoration: none;
}

.letters:hover {
	text-decoration: underline;
}

.bg_lines {
	background-color: #CCCCCC;
}

.indexTable {
	margin-left: 7px;
}	

td.index_primary {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
td.index_primary:first-letter,
td.index_secondary:first-letter {
    text-transform: uppercase;	
}

td.index_secondary {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	font-weight: normal;
}

.index_see, .index_seealso {
	font-style:italic;
}

A.index {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #319F9E;
	text-decoration: none;
}

A.index:hover {
	text-decoration: underline;
}
