/* ##################   BODY STYLES   ################## */
/* main background color */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #FFFFFF;;
    min-width: 1024px;
    height: 100%;
    margin: 0 0 44px 0;
}

/* ##################   GLOBAL HEADER STYLES   ################## */

/* colors the background of the header area */
#main-header {
    height: 44px;
    width: 100%;
    background-color: #2d353c;
    border-bottom: 1px solid #319F9E;
    min-width: 1024px;
}

#brand {
    background: url("../images/logo.png") 0 14px no-repeat;
    width: 100px;
    height: 44px;
    float: left;
    margin-left: 20px;
    text-indent: -9999px;
    padding: 0;
}

#brand_title {
    display: inline-block;
    float: left;
    height: 44px;
    line-height: 44px;
    padding-left: 6px;
    font-weight: 300;
    font-family: "Open Sans";
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
}

#main-header .globalMenu {
    float: right;
}

#main-header .globalMenu a:focus {
    outline: none;
}

#main-header ul {
    list-style: none outside none;
    margin: 0 16px 0 0;
    padding: 0;
}

#main-header .globalMenu li {
    background-image: url("../images/sprite_quick_access_links.png");
    background-repeat: no-repeat;
    margin: 0 5px;
    height: 44px;
    text-indent: -9999px;
    width: 24px;
    float: left;
}

#main-header .globalMenu a {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 44px;
    line-height: 24px;
    float: left;
}

#main-header .globalMenu li:hover{
    background-image: url("../images/sprite_quick_access_links_active.png");
    background-repeat: no-repeat;
}

#main-header .globalMenu li:last-child {
    margin-right: 0;
}

#main-header .profile {
    background-position: -57px 0px;
}

#main-header .help {
    background-position: -103px 0px;
}

#main-header .logout {
    background-position: -149px 0px;
}

/* ##################   GLOBAL CONTENT STYLES   ################## */
#main-content {
    min-height: 100%;
    height: 100%;
    background-color: #FFF;
    padding: 15px 20px 15px 15px;
}

/* ##################   GLOBAL FOOTER STYLES   ################## */
#main-footer {
    padding: 9px 5px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #999;
    font-size: 12px;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #2d353c;
    min-width: 1024px;
}

#main-footer td {
    padding: 0 15px;
}

/* Setting height to 100% does not work for XHTML at least in Firefox */
.centeredTable {
    margin: 25% auto;
}

/* ##################   TABLE BORDER STYLES   ################## */

/*  border only north - */
.n {
    border-top: 1px solid #EBEBEB;
}

/* border only east |  */
.e {
    border-right: 1px solid #EBEBEB;
}

/* border only south _ */
.s {
    border-bottom: 1px solid #EBEBEB;
}

/* border only west  | */
.w {
    border-left: 1px solid #EBEBEB;
}

/* border all directions */
.aldi {
    border: 1px solid #EBEBEB;
}

/* ##################   ALIGNMENTS   ################## */
/* horizontal, the name implies */
.left {
    text-align: left;
}

.center {
    text-align: center !important;
}

.right {
    text-align: right;
}

/* vertical, the name implies */
.baseline {
    vertical-align: baseline;
}

.top {
    vertical-align: top;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}

.nowrap {
    white-space: nowrap;
}


form {
    /* To avoid space between tables when using <form><table>...</table></form> */
    margin-top:0;
    margin-bottom:0;
}

/* ##################   Start Global Sitenavigation Styles   ################## */
#siteMenuBg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 250px;
	z-index: -1;
    background-color: #EEEEEE;
}

.siteMenu {
    background-color: #EEEEEE;
}

ul.siteMenu,ul.siteMenu ul {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    list-style: none outside none;
    padding: 0;
    margin: 0;
    width: 250px;
}

ul.siteMenu li a {
    color: #777;
    font-size: 13px;
    line-height: 48px;
    text-decoration: none;
    padding-left: 34px;
    background: url("../images/nav_left_arrow.png") no-repeat left 14px center;
    display: block;
}

ul.siteMenu li a:hover {
    color: #333;
    background-color: #F9F9F9;
}

ul.siteMenu li.expanded,ul.siteMenu li.expanded li {
    background-color: #F9F9F9;
}

ul.siteMenu li.active>a {
    color: #333;
    font-weight: bold;
}

ul.siteMenu li.expanded>a {
    background: url("../images/nav_left_arrow_down.png") no-repeat left 14px center;
}

ul.siteMenu li li {
    padding-left: 15px;
}

ul.siteMenu li.expanded li a {
    background-image: none;
}

/* ##################   INPUT FIELDS   ################## */

input, textarea, select, button {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/* ##################   INPUT FIELDS   ################## */

/* used for the input fields*/
.inputfield_en {
    border: 1px solid #CCC;
    color: #333;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding: 0 5px;
    line-height: 30px;
    margin: 0;
    font-size: 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input.inputfield_en[type="radio"] {
    height: auto;
    padding: 6px 5px;
}

textarea.inputfield_en {
	height: auto;
	max-width: 850px;
	overflow: auto; 
}

select.inputfield_en {
    padding: 6px;
}

input.inputfield_en[type="file"] {
    height: auto;
    line-height: 17px;
    padding: 6px;
}

input::-webkit-input-placeholder {
    font-style: italic;
    color: #999;
}

input::-moz-placeholder {
    font-style: italic;
} /* firefox 19+ */
input:-moz-placeholder {
    font-style: italic;
} /* firefox 4-18 */
input:-ms-input-placeholder {
    font-style: italic;
} /* ie10 */
.inputfield_en[readonly].disabled {
    background: #D4D0C8;
    color: #818181;
}
input.inputfield_en:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
input[type="file"]:focus,
textarea.inputfield_en:focus,
.button:focus {
    border: 1px solid #319F9E;
    -moz-box-shadow: 1px 1px 3px rgba(049,159, 158, 0.7), -1px -1px 3px rgba(049,159, 158, 0.7);
    -webkit-box-shadow:1px 1px 3px rgba(049,159, 158, 0.7), -1px -1px 3px rgba(049,159, 158, 0.7);
    box-shadow:1px 1px 3px rgba(049,159, 158, 0.7), -1px -1px 3px rgba(049,159, 158, 0.7);
    outline: none;
}

.select:focus,
.dropdown:focus{
    border: 1px solid #319F9E;
    outline: none;
}

/* used for the input fields*/
.select {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333333;
    height: 32px;
    padding: 6px;
    background-color: #FFFFFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #CCC;
}

.select option {
    height: 20px;
}

.select optgroup {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    padding-left: 3px;
}

.select optgroup option {
    padding-right: 10px;
}

.checkbox {
    background-color: #FFFFFF;
}

/* ##################   BUTTONS   ################## */
/* common button style */
input.button,
a.button,
button.button {
    background-color: #6DB4B3; 
    border: 1px solid #319F9E;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #FFF;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    height: 32px;
    padding: 5px 7px;
}

button.button {
    line-height: 16px;
}

a.button {
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}

input.button[disabled],
input.button[disabled]:hover,
button.button[disabled] {
    border: 1px solid #CCC;
    color: #777;
}

/* border all directions for button */
td.button {
    text-align: center;
}

/* ###   disabled input fileds   ### */
input[disabled],
textarea[disabled],
select[disabled],
button[disabled] {
    background-color: #CCC;
    color: #777;
}

input[type="radio"],
input[type="checkbox"],
a img {
    background: none;
    border: 0 none;
}

input[type="radio"].contentSelection,
input[type="checkbox"].contentSelection {
    margin: 0;
}


/* ##################   BUTTONS   ################## */
/* button style used in delete and confirmation messages */
.delete_button {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    color: #333333;
    border: 1px solid #FF0000;
    text-align: center;
    background-color: #cccccc;
    cursor: pointer;
}

/* ##################   LINKS   ################## */
a { /* fallback */
	color: #319F9E;
	text-decoration: none;
}

a:hover { /* fallback */
	text-decoration: underline;
}

/* catalog links */
A.catalog {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
}

A.catalog:active {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
    color: #666666;
}

/* subcatalog links */
A.subcatalog {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: underline;
    color: #000000;
}

A.subcatalog:active {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: underline;
    color: #666666;
}

/* ##################   CONTENT   ################## */

/* welcome message */
.welcome {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #333;
    padding: 0 5px 4px;
}

/* ########################################## WORKING AREA ###########################################   */

/* buttonbar below the actionbar, usually used for "Back", "Print", "Approval Workflow Preview" a.s.o. */
.backbar_left {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 10px;
}

/* ##################   BREADCRUMB   ################## */

/* Global Breadcrumb */
.breadcrumb {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #777;
    padding-bottom: 15px;
}

/* ##################   TABS   ################## */

/* Tabs enabled */
.table_tabs_en_background {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    /*color: #333333;*/
    /*background-color: #EBE6C6;*/
    color: #333;
    background-color: #FFF;
    height: 27px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 0;
}

/* Tabs disabled*/
.table_tabs_dis_background {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #999;
    background-color: #EBEBEB;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
}

/* ##################   TABLES STYLES   ################## */
/* used for table title */
.table_title {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #333;
    padding: 23px 5px 4px;
}
/* used for table title */
.table_title2 {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #333;
    padding: 23px 5px 4px;
}

/* used for description below the table title */
.table_title_description {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #777;
    padding: 10px 6px;
}

.table_title_description  td {
    padding-left: 6px;
}

.table_title_description a {
}

/* used for table header in lists*/
.table_header {
    color: #777;
    background-color: #FBFAFA;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
}

.table_header.s,
.table_header.aldi {
    border-bottom-color: #333;
}

.table_header.select_all {
    width: 70px;
    min-width: 70px;
}

/* used for table cells below the table title and in rows at lists where row NOT contains input fields */
.table_detail {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    background-color: #FFFFFF;
    padding: 6px;
    line-height: 27px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
}

/* used for table cells below the table title and in rows at lists where row contains input fields */
.table_detail2 {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    background-color: #FFFFFF;
    padding: 6px;
    line-height: 18px;
}

/* used for table cells below the table title and in rows at lists where row contains input fields */
.table_detail3 {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #333;
    background-color: #FFFFFF;
    padding: 6px 6px 3px 6px;
    line-height: 18px;
}

td.center.top {
    padding: 5px;
}

.catalog_cell,
.catalog_description {
    padding: 3px 6px;
}

/* description beside catalog links */
.catalog_description {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
}

.w100 {
    width: 100%;
}

.bold {
    font-weight: bold;
}

/*sorting*/
.sort {
    vertical-align: middle;
}

/* ##################   PRODUCT/OFFER DETAIL PAGES   ################## */

/* attribute names on product detail pages */
.productdetail_item {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    padding: 2px 4px;
    background-color: #DCDCDC;
    height: 18px;
}

/* attribute values on product detail pages */
.productdetail_value {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 2px 4px;
    height: 18px;
}

.productdetail_image {
    background-color: #FFFFFF;
    padding: 4px;
    vertical-align: middle;
    text-align: center;
}

/* ##################   PAGE NAVIGATION BAR   ################## */

/* common style to color the PageNavigationBar and give it a n px distance */
.pagecursor {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #87a0b0;
    height: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 6px 0;
}

/* common style to handle the page numbers eg. 1..2 */
.pagecursoritem {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #777;
}

/* common style to handle the page navigation texts eg. "Showing...Next...Previous..." */
.pagecursortxt {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #777;
    white-space: nowrap;
    padding-right: 7px;
}

/* common style to display the page navigation buttons like text links */
.pagecursorbtn {
    background-color: #fff;
    border: none;
    color: #319F9E;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/* ##################   BOXES   ################## */

/* makes a frame around the confirmation message */
.confirm_box {
    color: #8A6D3B;
    background-color: #FFFCD1;
}

/* text in confirm messages */
.confirm,
.confirm_info {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
	font-weight: bold;
}

.confirm_info {
    color: #333333;
}

.confirmation_info_icon {
}

/* text in information messages */
.information {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #2C6AAC;
    background-color: #E3F1FF;
}

.information td {
	padding: 6px;
}

.notification {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    background-color: #DFF0D8;
    color: #468847;
    font-weight: normal;
}

.notification td {
    padding: 6px;
}

/* makes a frame around the error message */
.error_box {
    background-color: #F3DDDF;
}

/* makes a frame around the error message */
.error_icon {
}

/* text in error messages */
.error {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #B30015;
}

/* used for the text in front of the input fields; font is bold */
.fielditem {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    color: #777;
    padding: 6px;
    vertical-align: top;
}
/* used for the text in front of the input fields; font is bold */
.fielditem2 {
    color: #777;
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    padding: 6px;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 32px;
}

.fielditem_comment {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #777;
    vertical-align: top;
}

/* used for the text in front of the input fields; font is red */
.fielditem2_error {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    color: #B30015;
    padding: 14px 6px 4px;
    vertical-align: top;
}

/* used for mandatory fields to color the "*" */
.star {
    color: #B30015;
    font-weight: bold;
    font-size: 13px;
}
/* colors the background of the info box */
.infobox {
    background-color: #F4F4F4;
}

/* colors the background of the info box */
.infobox_locale {
    background-color: #EBEBEB;
}

/* colors and formats the info box title */
.infobox_title {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #333;
    padding-top: 5px;;
}

.infobox_subtitle {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding-right: 2px;
}
/* colors and formats the info box description */
.infobox_description {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #333333;
    padding-right: 2px;
}

/* colors and formats the info box text in front of the input fields */
.infobox_item {
    color: #777;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    padding: 2px 6px 0 6px;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: normal;
    padding-top: 1px;
    line-height: 32px;
}

/* used for department tree */
.main_dep {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    background-color: #D7D7D7;
    padding-right: 3px;
    padding-left: 3px;
}

.other_dep {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    background-color: #FFFFFF;
    padding-right: 3px;
    padding-left: 3px;
}

.dep_check {
    padding-right: 1px;
    padding-left: 2px;
}

/* ##################    LINKS   ################## */
a.breadcrumb {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #319F9E;
    text-decoration: none;
    padding-right: 5px;
}

/* colors and formats table header links in lists eg. for sorting */
.tableheader {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    color: #319F9E;
    text-decoration: none;
}

button.action_button {
    border: 0 none;
    margin: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

.table_detail_link,
.table_detail_link2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    color: #319F9E;
    text-decoration: none;
}

/* links in infoboxes */
.infobox_link {
    font-family: Verdana, Geneva, sans-serif;
    padding-left: 4px;
}

/* action links in table content e.g. "edit" ,"delete", "view" */
.action_link {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #319f9e;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}

.action_link:active {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}

/* colors and formats links in enabled tabs */
.table_tabs_en {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #666666;
    text-decoration: none;
}

/* colors and formats links in disabled tabs */
.table_tabs_dis {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #319F9E;
    display: block;
    text-decoration: none;
}

/* "switch"-links e.g. on search pages */
.switch_link {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding-right: 3px;
}


/* used for selection description link */
.selection_link {
}

/* ##################   STYLES FOR OVERVIEW PAGES  ################## */
.overview_title {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #333;
    padding: 14px 6px 2px;
}


.overview_arrow {
   padding: 10px 6px 0;	
}

.overview_title_description {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
    padding: 9px 6px 8px 6px;
}

.overview_subtitle {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 10px;
}

a.overview_subtitle {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/* line between overview items */
.overview_line {
    background-image: url(../images/overview_line.gif);
}

/* horizontal line between overview items */
.overview_vertical_line {
    background-image: url(../images/overview_vertical_line.gif);
    width: 1px;
}
