/* basics */
body {
	margin-left: auto;
	margin-right: auto;
	width: 773px;
	color: #333;
	font-size: 12px;
}

a {
	color: #00A2C9;
	text-decoration: underline;
}

a,
a:focus,
a:hover{
	outline: 0;
}

h3 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 16px;
}

h4{
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 12px;
	color: #333;
}

h4 strong {
	font-style: oblique;
	color: #111;
	font-size: 1.1em;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password]{
	text-indent: 5px;
	height: 16px;
	line-height: 16px;
	padding: 2px 2px 2px 0;
	vertical-align: top;
	width: 178px;
}

input[type=text],
input[type=email],
input[type=password],
textarea{
	border: 1px solid #00A2C9;
	background-color: white;
	font-size: 12px;
	color: #333;
}

label, .ipay-label,
input, 
select {
	display: inline-block;
}

label, .ipay-label {
	font-size: 12px;
	color: #333;
	font-weight: 400;
	line-height: 22px;
	width: 105px;
	vertical-align: top;
}

label input[type=radio] {
	padding-bottom: 2px;
}

fieldset {
	margin: 20px 0 0px;
}

table {
	margin: 14px 0;
}

table th, 
table td {
	padding: 7px 11px;
	font-size: 13px;
}

table th {
	border: 1px solid #000;
	background-color: #D8D8D8;
	color: #000;
}

table td {
	border: 1px solid #BFBFBF;
}

/* general styles */

/* design component: label */
.ipay-label {
	line-height: 18px;
}

.ipay-label-select {
	line-height: 28px;
}
/* end design component: label */

/* design component: input */
input.ipay-input-small {
	width: 53px;
}

/* end design component: input */

/* design component: text */
.ipay-text-testingPurposes {
	color: #666;
	padding-bottom: 16px;
}

div + .ipay-text-testingPurposes {
	padding-top: 5px;
}

.ipay-text-data {
	line-height: 18px;
	vertical-align: top;
	display: inline-block;
}

/* end design component: text */

/* design component: button */
button,
.ipay-button {
	background: #00A2C9; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,184,233,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,184,233,1)), color-stop(100%,rgba(0,158,195,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,184,233,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,184,233,1) 0%,rgba(0,158,195,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(0,184,233,1) 0%,rgba(0,158,195,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00B7E9', endColorstr='#009EC3',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(0,184,233,1) 0%,rgba(0,158,195,1) 100%); /* W3C */
	color: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 6px 21px 5px;
	display: inline-block;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1;
	border: 1px solid #0087AE;
	white-space: nowrap;
	margin: 0 0 18px;
}

/* 	design component: link */
.ipay-link-cancel {
	margin-left: 11px;
}
/* end design component: link */

/* design component: error */
p.ipay-error {
	color: #FF0000;
}

.ipay-error-field label,
.ipay-error-field div {
	color: #FF0000;
}

.ipay-error-field input {
	border: 1px solid #FF0000;
}

/* end design component: error */

/* design component: infoBox */
.ipay-infoBox {
	margin: 2px 0 0 20px;
	padding: 20px 15px 0;
	float: right;
	width: 293px;
	background-color: #EEE;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.ipay-infoBox div+h3 {
	padding-top: 10px;
}

.ipay-infoBox .ipay-infoBox-label {
	width: 125px;
	vertical-align: top;
	display: inline-block;
	font-weight: 400;
}

.ipay-infoBox-shopInfo {
	width: 160px;
	display: inline-block;
}


/* end design component: infoBox */

/* design component: field */
.ipay-field {
	padding-bottom: 20px;
	position: relative;
}

.ipay-field-left {
	float: left;
}
/* end design component: field */

/* design component: formShift */
.ipay-formShift {
	margin-left: 105px;
}
/* end design component: formShift */

/* design component: header */
.ipay_header {
	border-bottom: 1px dotted #00A2c9;
	height:65px;
	margin: 40px 0 15px;
}

.ipay_header:after {
	clear: both;
}

.ipay_header img{
	float: left;
	margin-right: 12px;
}

.ipay-header-logoText {
	font-size: 18px;
	font-weight: bold;
	color: #666;
	line-height: 42px;
}
/* end design component: header */

/* design component: fastpayLogo */
.ipay-fastpayLogo, 
.ipay-onlinePayLogo,
.ipay-creditcardLogo{
	margin-bottom: 17px;
}
/* end design component: fastpayLogo */

/* design component: card */
.ipay-card {
	background-image: url("../images/ishpay-sprite.png");
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 21px;
	margin-left: 7px;
	text-indent: -9999px;
	width: 32px;
}
.ipay-card-vsa {
	background-position: 0 -284px;
}

.ipay-card-mas {
	background-position: -39px -284px;
}

.ipay-card + fieldset{
	clear: both;
}
/* design component: card */

/* design component: onlinePayPinTan */
.ipay-onlinePayPinTan label { 
	width: 30px;
}

.ipay-onlinePayPinTan .ipay-formShift {
	margin-left: 30px;
}

/* end design component: onlinePayPinTan */